.wrapper {
  background-image: url("../../../public/images/header-bg.jpeg");
  background-size: cover;
  width: 100%;
  min-height: 770px;
  padding-left: 138px;
  padding-top: 30px;
}

.nav {
  height: 40px;
  width: 40px;
}

.content {
  width: 468px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 119px;
}

.text {
  h2 {
    color: #0b3b3c;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
  }
  p {
    margin-top: 1rem;
    color: #0b3b3c;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  button {
    padding: 15px 30px;
    width: 156px;
    height: 45px;
    background-color: #7e0707;
    color: white;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    border: 0;
    margin-top: 2rem;
  }
}
