.wrapper {
  background-image: url("../../../public/images/header-bg.jpeg");
  background-size: cover;
  width: 100%;
  min-height: 770px;
  padding-left: 138px;
  padding-top: 30px;
}

.nav {
  height: 40px;
  width: 40px;
}
